@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat-Regular";
}

/*email icon by icons8*/
/*phone icon by icons8*/
.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;     /* Aligns content to the right */
  align-items: center;           /* Vertically centers items */
  gap: 10px;
  flex-wrap: wrap;
  background-color: #28A745;
  padding: 10px;
  width: 100%;                   /* Makes container span full width */
  box-sizing: border-box;        /* Includes padding in width */
}

.contact-info .icons {
  width: 24px;
  height: 24px;
}

.contact-info p {
  margin: 0;
}

.inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
  margin: 0px;
}

nav a img {
  display: inline-block;
  align-items: center;
  width: 50px;
  height: 50px;
}

nav a h1 {
  display: inline-block;
  align-items: center;
  margin: 0.5em;
  font-size: 1.5em;
}

nav div:first-child {
  display: flex;
  align-items: center;
}

nav div:last-child a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.bg-img {
  background-image: url('../images/column_to_black.jpeg');
  background-size: cover;
  background-position: 50% 15%;
  background-repeat: no-repeat;
  padding: 100px 0; /* Adjust height */
}

.jumbotron-text {
    text-align: right;
    color: #f4f4f4
}

.carousel {
    display: flex;
    padding: 20px;
}

.row-xtra {
  margin: auto;
}

.card-xtra {
  margin: 2em;
}

footer {
  background-color: #28A745;
  color: #f4f4f4;
  margin: 0px;
  padding: 2em;
}

footer div {
  text-align: center;
}

footer div img {
  padding: 1em;
}

footer p {
  text-align: center;
}